body {
  /* reset */
  margin: 0;
  font: normal 66% Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#maxHeadroom {
  z-index: 0;
  position: absolute;
  width: 500%;
  height: 500%;

  background: #efc5ca; /* Old browsers */
  background: linear-gradient(353deg, #874729, #00ff2b, #fd00ff);
  background: linear-gradient(
    190deg,
    #efc5ca 0%,
    #9698ff 26%,
    #d24b5a 50%,
    #ba2737 51%,
    #ffb200 85%,
    #a0ff96 100%
  );

  /* background-size: 300% 300%; */

  animation: MaxHeadroom 8s ease infinite;
}

@keyframes MaxHeadroom {
  0% {
    transform: rotate(0deg) translate(-60rem, -60rem);
  }
  50% {
    transform: rotate(1200deg) translate(60rem, 60rem);
  }
  100% {
    transform: rotate(0deg) translate(-60rem, -60rem);
  }
}

main {
  display: grid;
  grid-gap: 1rem;
  width: 80rem;
  grid-template-columns: 2fr 1fr;
  z-index: 1;
}

#tabber {
  display: grid;
  float: left;
  grid-gap: 0.2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
  width: 100%;
}

#tabber li {
  background: black;
  border-radius: 0.2rem;
  color: white;
  padding: 1rem 0;
  text-align: center;
  list-style-type: none;
}

#tabber li:hover {
  background: white;
  color: black;
}

.gyrating-rodents,
.code {
  background: linear-gradient(
    135deg,
    #e2e2e2 0%,
    #dbdbdb 50%,
    #d1d1d1 51%,
    #fefefe 100%
  );
  border-radius: 1rem;
  box-shadow: black 0rem 0 2rem;
  padding: 1rem;
}

.gyrating-rodents {
  text-align: center;
  padding: 2rem;
}

#notifier {
  display: block;
  font-size: 18px;
}
